# Force SQL detection
*.sql linguist-detectable=true
*.sql linguist-language=SQL

# Force PowerBi and Tableau detection
*.pbix linguist-language=PowerBI
*.twb linguist-language=Tableau
*.twbx linguist-language=Tableau

# Exclude entire directories
/exports/ linguist-vendored
/build/ linguist-vendored
/reports/ linguist-vendored

# Exclude all HTML files from language statistics
*.html linguist-detectable=false
*.htm linguist-detectable=false
